<h1>Now served with hbs</h1>
<p>Boom baby</p>
<form id="find-reps" method="get" action="/zip/" class="center-block text-center">
    <div>
        <label for="zipcode" form="find-reps">Zipcode</label>
        <div class="zipcode-display flex justify-center">
          <div class="zipcode flex align-center justify-center active-zip">
          </div>
          <div class="zipcode flex align-center justify-center">
          </div>
          <div class="zipcode flex align-center justify-center">
          </div>
          <div class="zipcode flex align-center justify-center">
          </div>
          <div class="zipcode flex align-center justify-center">
          </div>
        </div>
        <input type="hidden" id="zipcode" name="zipcode" form="find-reps" placeholder="Zipcode">
    </div>
    <div class="submit-wrapper">
        <button type="submit" form="find-reps">Find your reps!</button>
    </div>
</form>
