
<section>
    <div class="contact-info">
        <div class="phone-number">
            <h4>Phone Number</h4>
            <div>###-###-####</div>
        </div>
        <div class="email">
            <h4>Email</h4>
            <div>superrepman@gmail.com</div>
        </div>
    </div>
</section>


<section>
    {{#each bills as |bill|}}
    <article class="bill">
        <div class="bill-id">
            {{bill.bill_id}}
        </div>
        <div class="bill-title">
            {{bill.bill_title}}
        </div>
        <div class="vote-record">
            {{bill.recorded_vote}}
        </div>
    </article>
    {{/each}}
</section>