 <main class="container-fluid main-container">   
    <section class="row text-center"> 
        <div class="rep-pic col-xs-12">
            <img class="soft-borders-5px" src="https://theunitedstates.io/images/congress/225x275/{{bioguideId}}.jpg" alt="Picture of representative">
            <div>Rep Name and Seat</div>
        </div>
    
        <div class="contact-info col-xs-12">
            <h4>Contact Info</h4>
            <div class="wrapper">
                <div class="phone-number">
                    <h5>Phone Number</h5>
                    <div>###-###-####</div>
                </div>
                <div class="email">
                    <h5>Email</h5>
                    <div>superrepman@gmail.com</div>
                </div>
            </div>
        </div>
    </section>
    
    
    <section class="row">
        {{#each bills as |bill|}}
        <article class="bill col-xs-12 vote-box">
            <div class="bill-id">
                {{bill.bill_id}}
            </div>
            <div class="bill-title">
                {{bill.bill_title}}
            </div>
            <div class="vote-record">
                {{bill.recorded_vote}}
            </div>
        </article>
        {{/each}}
    </section>
</main>