body {
  background-color: #eee;
}

.main-container {
  width: 80vw;
}

img {
  max-width: 150px;
  height: auto;
  width: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.position-absolute {
  position:absolute;
}

.position-relative {
  position: relative;
}

.space-around {
  justify-content: space-around;
}

.width-1 {
  width: 8.3333333333%;
}
.width-2 {
  width: 16.666666666%;
}
.width-3 {
  width: 25%;
}
.width-4 {
  width: 33.333333333%;
}
.width-5 {
  width: 41.666666666%;
}
.width-6 {
  width: 50%;
}
.width-7 {
  width: 58.333333333%;
}
.width-8 {
  width: 66.666666666%;
}
.width-9 {
  width: 75%;
}
.width-10 {
  width: 83.33333333%;
}
.width-11 {
  width: 91.66666667%;
}
.width-12 {
  width: 100%;
}

.center-inline {
  text-align: center;
}


.soft-borders-5px {
  border-radius: 5px;
}

.width-40 {
  width: 40%;
}

.rep-info {
  font-size: 20px;
}

.padding-around-20 {
  padding: 20px;
}

.padding-around-10 {
  padding: 10px;
}

.padding-bot-10 {
  padding-bottom: 10px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-sides-5-20 {
  padding: 5px 20px;
}

.margin-right-20 {
  margin-right: 20px;
}

.max-width-500 {
  max-width: 500px;
}

.vote-box {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.zipcode {
  width: 45px;
  height: 50px;
  border-radius: 10px;
  margin: 0 5px;
  border: 1px solid #ddd;
  font-size: 24px;
  font-weight: bold;
  background-color: #ffffff;
  transition: background-color .5s;
}

.button-holder {
    border: 1px solid black;
    overflow: hidden;
    height: 0;
    transition: height .5s;
}

.active-zip {
  background-color: #ffff00;
}

.transition-1s {
  transition: 1s;
}

.overflow-hidden {
  overflow:hidden;
  height:0;
}

.height-60 {
  height:60px;
}
.display-inline-block {
  display: inline-block;
}

.font-deemphasize {
  color: #666;
}

.background-white {
  background-color: #fff;
}

.background-soft-blue {
  background-color: #A9A9D1;
}

.background-soft-red {
  background-color: #FFAFA2;
}

.background-soft-white {
  background-color: #f9f9f9;
}

.font-bold {
  font-weight: bold;
}

.font-size-1-2em {
  font-size: 1.2em;
}

.font-size-2em {
  font-size: 2em;
}

button {
  margin: 20px;
}

.small-box-shadow {
  -webkit-box-shadow: 0px 1px 20px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 20px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 20px 1px rgba(0,0,0,0.75);
}

.text-left {
  text-align: left;
}

.gray-border-1px {
  border: 1px solid #b9b9b9;
}

.yea-border {
  border-color: green;
}

.nay-border {
  border-color: red;
}

.background-eggshell-to-white {
  background: linear-gradient( 180deg, #ffffee, #ffffff);
}


#to-landing-page::after {
  content: "Try another zipcode";
  display:none;
  background-color: #FEFA75;
  border-radius: 3px;
}


#to-landing-page:hover::after {
  display:block;
  position:absolute;
  left: 0;
}


