body {
  max-width: 650px;
  margin: 0 auto;
  width: 90vw;
  background-color: lightgray;
}

img {
  width:100%;
  height: auto;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-around {
  justify-content: space-around;
}

.width-1 {
  width: 8.3333333333%;
}
.width-2 {
  width: 16.666666666%;
}
.width-3 {
  width: 25%;
}
.width-4 {
  width: 33.333333333%;
}
.width-5 {
  width: 41.666666666%;
}
.width-6 {
  width: 50%;
}
.width-7 {
  width: 58.333333333%;
}
.width-8 {
  width: 66.666666666%;
}
.width-9 {
  width: 75%;
}
.width-10 {
  width: 83.33333333%;
}
.width-11 {
  width: 91.66666667%;
}
.width-12 {
  width: 100%;
}

.center-block {
  margin: 0 auto;
}

.center-inline {
  text-align: center;
}


.soft-borders-5px {
  border-radius: 5px;
}

.rep-pic {
  width: 40%;
  margin: 0 20px;
}

